<div class="blogtitle col-xs-12">
Rubble to Ruby
</div>

<div class="blogbox col-xs-8 col-xs-offset-2">
	<h2>29th November 2015</h2>
		<p>Start theFirehoseProject.</p>
	<br />
	<h2>10th December 2015</h2>
		<p>Test Post.</p>
	<br />
</div>

<div class="footer col-xs-12">
	</div>
	<div class="info">
		<%= link_to 'About', '#' %><br />
		<a href="https://github.com/VictoriaBrouard" target="blank">
		<%=image_tag("GH.png") %> </a>
		<a href="https://www.linkedin.com/in/victoria-brouard-5397b13b" target="blank">
		<%=image_tag("LI.png") %> </a>
	</div>
</div>
